﻿@inherits LayoutComponentBase

<PageTitle>LS_POC</PageTitle>
<div>
    <TopMenu/>
</div>
<div class="container">
   
  
    <main>
        
        <article class="">
            @Body
        </article>
    </main>
</div>
