﻿@inherits LayoutComponentBase

<PageTitle>LS_POC</PageTitle>
<div>
    <TopMenu/>
</div>
<div class="container">
   <div class="columns is-centered">
       <div class="column is-full">
       <div class="application-page-header">
		
				<h1>PropertyView<sup>™</sup></h1>
   		
        </div>
        </div>
	</div>
   <div class="columns is-centered">
    <div class="column navbar is-light">
        <NavMenu />
    </div>
    </div>
    <main>
        
        <article class="">
            @Body
        </article>
    </main>
</div>
