﻿<div id="propertyMenubar" class="navbar-menu is-active is-light">
            
            <div class="navbar-brand">
                <p class="navbar-item navlabel">Report Sections:</p>
                
      <a class="navbar-item navbarTextGreen"
             href="javascript:;" onclick="javascript: document.location.hash='aRentComps';">Rent Comps
            </a>

      <a class="navbar-item navbarTextGreen"
           
            href="javascript:;" onclick="javascript: document.location.hash='aMaps';">Maps
            </a>

      <a class="navbar-item navbarTextGreen"
           
            href="javascript:;" onclick="javascript: document.location.hash='aDensity';">Density Analysis
            </a>

      <a class="navbar-item navbarTextGreen"
         
            href="javascript:;" onclick="javascript: document.location.hash='aNearestHospitals';">Top Hospitals
            </a>

      <a class="navbar-item navbarTextGreen"
          
             href="javascript:;" onclick="javascript: document.location.hash='aRevenue';">Medicare Revenue
            </a>

      <a class="navbar-item navbarTextGreen"
          
            href="javascript:;" onclick="javascript: document.location.hash='aTenants';">Tenants
            </a>

      <a class="navbar-item navbarTextGreen"
          
            href="javascript:;" onclick="javascript: document.location.hash='aAssessments';">Assessments
            </a>

      <a class="navbar-item navbarTextGreen"
          
            href="javascript:;" onclick="javascript: document.location.hash='aTransactions';">Transactions
            </a>

</div>
</div>
       