﻿<div class="navbar is-active is-light onTop" id="header" style="padding-top:0; height:75px;">	

		<div class="navbar-brand">
          <figure class="image p-4 ml-4">
  

				<div id="headerLabHome" title="Revista Labs" class="navbar-item p-0"><img class="" alt="Revista Home" src="/lab_Logo.svg" style="height:200px; margin-bottom:-80px;margin-top:-90px;margin-left:-10px;"></div>
            
                <a class="navbar-item navlabel p-0" id="headerPortalHome" title="Subscriber Portal Home" href="../../"><img class="" alt="Subscriber Portal" src="/logo_portal_bottom.png" style="width:165px;"></a>    
                </figure>

                </div>
             
             <div id="mainNavbar" class="navbar-menu is-active">
    <div class="navbar-end">


      <div class="navbar-item navlabel has-dropdown is-hoverable ">
        <a class="navbar-link  border-top">
          My RevistaLab
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item navlabel onTop">
            My RevistaLab
          </a>
          <a class="navbar-item navlabel onTop">
            My RevistaLab Pro
          </a>
          
        </div>
      </div>
      <div class="navbar-item navlabel has-dropdown is-hoverable">
        <a class="navbar-link">
          Property Search
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item navlabel onTop">
           Property Search
          </a>
          <a class="navbar-item navlabel onTop">
           Transaction Comps
          </a>
          <a class="navbar-item navlabel onTop">
           Construction Search
          </a>
        </div>
      </div>
       <div class="navbar-item navlabel has-dropdown is-hoverable">
        <a class="navbar-link">
          Market Data  
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item navlabel onTop">
           Metro Reports
          </a>
          <a class="navbar-item navlabel onTop">
            Metro Rankings       
            </a>
          <a class="navbar-item navlabel onTop">
          National Reports
          </a>
        </div>
      </div>
       <div class="navbar-item navlabel has-dropdown is-hoverable">
        <a class="navbar-link">
         Contacts
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item navlabel onTop">
           Entity Search
          </a>
          <a class="navbar-item navlabel onTop">
           Tenant Prospects
          </a>
         
        </div>
      </div>
    </div>
    </div>
            
            
         

            

            

				 
		
	</div>


@code {

}
