﻿@page "/poc"
@using LS_POC.Data

<PageTitle>Proof of Concept</PageTitle>



@*testing*@
<div class="box">
    <div class="level">
    <section class="hero">
  <div class="hero-body pt-0 pb-0">
      <span class="ui-tag">
					<span class="ui-tag-color"></span>
					<span class="ui-tag-label">Life Science Lab</span>
				</span>
    <p class="title">
      Random Life Science Building

    </p>
    <p class="subtitle">
123 Generic Ave SomeCity, IDK 55555
    </p>
  </div>
  
</section>

<div id="miscActionbar" class="navbar-menu is-active">
    <div class="navbar-end">
        <div class="navbar-item">
            <span class="icon">
  <i class="fas fa-2x	 fa-file-pdf"></i>
</span>
        </div>
         <div class="navbar-item">
            <span class="icon">
  <i class="fas fa-2x	 fa-share"></i>
</span>
        </div>
         <div class="navbar-item">
            <span class="icon">
  <i class="fas fa-2x	 fa-heart"></i>
</span>
        </div>
       </div>
       </div>
       </div>
       <hr />
   <div class="container level columns is-centered">
       <div class="column is-two-thirds">
    
           <div class="navbar  is-success">
              
       <div class="navbar-menu is-active ">
           
           <div class="navbar-brand">
         <div class="navbar-item clearBackground"> <p>Radius Based Reports - </p></div>

    <a class="navbar-item" href=""> PMA Report </a>
    <a class="navbar-item" href="">Demographics </a>
    <a class="navbar-item" href="">Specialty Demand</a>
    <div class="navbar-end">
        <a class="navbar-item" href=""> Top Props</a>
        </div>
 



</div>
</div>
</div>
</div>
</div>
@*this is the begining of the data content with columns*@
<div class="columns">
    <div class="column">
        <h3 class="title is-5">Property Facts</h3>
        <hr />
        <table class="table is-striped">
  <thead>
      </thead>
      <tbody>
    
        @foreach (var item in Data.DataFetchServices.FetchData())
                        {
                            
                            
                <tr>             <th>
            @item.PropertyName</th><td>@item.PropertyType</td>	</tr>
           
                        }
                       

 @*<tr><th>Latitude</th>	<td>38.9974116</td></tr>
 <tr><th>Longitude</th>	<td>-76.5140025</td></tr>
 <tr><th>Metro</th>	<td>Baltimore-Columbia-Towson, MD</td></tr>
 <tr><th>County</th>	<td>Anne Arundel</td></tr>
 <tr><th>Property Type</th>	<td>Medical Condos</td></tr>
 <tr><th>Property Status</th>	<td>Open</td></tr>
 <tr><th>Year Built</th>	<td>1990</td></tr>
 <tr><th>Stories</th>	<td>2</td></tr>
 <tr><th>On Campus</th>	<td>Off Campus</td></tr>
 <tr><th>Square Feet</th>	<td>50,000</td></tr>
 <tr><th>Lot Size</th>	<td>6.65</td></tr>
 <tr><th>Contains</th>	<td>Surgery Center</td></tr>*@
        
</tbody>

    
  
  </table>
    </div>
    <div class="column">
        <section class="hero">
            <div class="hero-body">
               <figure class="image is-5by3">
  <img src="https://bulma.io/images/placeholders/800x480.png">
</figure>
            </div>
        </section>
        <div class="content">
            <div class="section">
            <h2 class="title is-3">Related Entities</h2>
       <div class="">    
AAU PARTNERS LLC - Deed Owner  
600 RIDGELY AVE STE 130   ANNAPOLIS MD 21401
         </div> 

<h4 class="title is-5">Last Transfer</h4>
<div class="subtitle is-6">
9/19/2017 purchased by AUU PARTNERS LLC
</div>

</div>
        </div>
    </div>
</div>
</div>

