﻿@page "/PropertySearch"
@using LS_POC.Shared
@using LS_POC.Data
@model LS_POC.Pages.PropertySearchModel
@{
    Layout = "";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


</head>
<style>
    #map {
        height: 60%;
    }
</style>
<component type="typeof(LayoutPropertySearch)" render-mode="ServerPrerendered" />

<div class="box">
    <section class="section pt-0 pr-0 pl-0">
        <div class="block">
            <div class="level">
                <input type="text" class="input is-success" placeholder="Location: e.g. Annapolis, MD" />
                <div id="PropertyTypeSelect" class="select">
                    <select>
                        <option>Property Type</option>
                        @foreach (var item in DataFetchServices.FetchData().Select(x => x.PropertyType).Distinct())
                        {
                            <option>@item</option>
                        }

                    </select>
                </div>
                <div id="containsSelect" class="select">
                    <select>
                        <option>Quality</option>
                        @foreach (var item in DataFetchServices.FetchData().Select(x => x.BuildingQuality).Distinct())
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
                <div class="select">
                    <select>
                        <option>Status</option>
                        @foreach (var item in DataFetchServices.FetchData().Select(x => x.PropertyStatus).Distinct())
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
                <div class="select">
                    <select>
                        <option>Property Size</option>
                        @foreach (var item in DataFetchServices.FetchData().Select(x => x.SquareFeet).Distinct())
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="map">
            <ul class="view-toggles-list">
				<li class="view-list" data-view="list"><button class="ui-view-toggle"><i class="icon-list"></i> <span class="ui-view-toggle-label">List</span></button></li>
				<li class="view-hybrid js-active" data-view="hybrid"><button class="ui-view-toggle js-active"><i class="icon-hybrid"></i> <span class="ui-view-toggle-label">Hybrid</span></button></li>
				<li class="view-map" data-view="map"><button class="ui-view-toggle"><i class="icon-map"></i> <span class="ui-view-toggle-label">Map</span></button></li>
			</ul>
        </div>
        <input type="button"
         value="Go Somewhere Else"
         onclick="location.href='<%: @Url.Action("Action", "Controller") %>'" />

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4pfZtIjjF-s4hMvMxZ2E-ti7CbuByYs4&callback=initMap&v=weekly&channel=2"
                async></script>
    </section>


</div>
<script>
        let map, infoWindow;


    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 12,
      });
      infoWindow = new google.maps.InfoWindow();

    const locationButton = document.createElement("button");

      locationButton.textContent = "Pan to Current Location";
      locationButton.classList.add("custom-map-control-button");
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
      locationButton.addEventListener("click", () => {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              const pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent("Location found.");
              infoWindow.open(map);
              map.setCenter(pos);
            },
            () => {
              handleLocationError(true, infoWindow, map.getCenter());
            }
          );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    }
</script>